body{
    background-color: rgb(148, 84, 207);
    color: bisque;
font-family: 'Courier New', Courier, monospace ;
margin: 0px;
}

header{
    font-size: 50px;
    border: solid 6px papayawhip;
}

h1{
    font-size: 35px;
    
}
p{
    font-size: 25;
}